.pageSection {
  position: relative;
}

.mainSection {
  padding: 20px;
  position: relative;
  z-index: 1;
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  height: 100%;
  mix-blend-mode: normal;
  opacity: 0.48;
}

.seasonNumber {
  font-size: var(--font-size-large);
  display: block;
}

.seriesName {
  font-family: 'HelveticaNeueBd';
  font-size: var(--font-size-extra-large);
  line-height: normal;
}

.seriesDescription {
  font-size: var(--font-size-large);
  margin-bottom: 90px;
}

.episodeListItem:not(:last-child) {
  margin-right: 48px;
}

.episodeWrapper {
  margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  margin-right: 24px;
  position: relative;
  display: grid;
  grid-template-columns: max-content;
}

.episodeImage {
  object-fit: cover;
  max-inline-size: 100%;
  block-size: 100%;
  min-height: 134px;
  max-height: 612px;
  height: 100%;
  opacity: .4;
}

.episodeImageActive {
  opacity: 1;
}

.episodeImageActive:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #eaee44, #33d0ff);
  opacity: .7;
  z-index: 1;
}

.episodeNumber {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);
  background: var(--text);
  font-size: var(--font-size-medium);
  font-family: 'HelveticaNeueBd';
  z-index: 1;
}

.episodeNumber:focus-visible {
  outline: 3px solid red;
}

.episodeTitle {
  font-family: 'HelveticaNeueBd';
  font-size: var(--font-size-medium);
  margin-bottom: 12px;
}

.episodeDescription {
  font-size: var(--font-size);
  letter-spacing: .5px;
  opacity: 0.8;
}

.carousel {
  overflow: hidden;
  min-inline-size: 300px;
  /* max-inline-size: 940px;
  margin: 0 auto; */
}

.carouselWrapper {
  -ms-overflow-style: none;
}

.carouselWrapper::-webkit-scrollbar {
  display: none;
}

.carouselWrapper {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  
  /* clip away the scrollbar */
  block-size: calc(100% + 25px);
  margin-bottom: 20px;
}

.arrowsNavigation {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.arrowsNavigation a:first-child {
  margin-right: 10px;
}

.episodeDetails {
  background: var(--text);
  color: var(--background)
}

.episodeDetailsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
}

.episodeDetailsHeaderTitle {
  font-size: var(--font-size-medium);
}

.episodeDetailsContent {
  padding: 20px;
}

.episodeDetailsContentTitle {
  font-family: 'HelveticaNeueBd';
  font-size: var(--font-size-large);
  color: var(--background);
}

.episodeDetailsContentDescription {
  font-size: var(--font-size-medium);
  color: var(--background);
}

.rating {
  display: flex;
  align-items: center;
  font-size: var(--font-size-medium);
  color: var(--background);
}

.ratingStarIcon {
  margin-right: 6px;
}

.ratingClassification {
  font-family: 'HelveticaNeueBd';
}