.pageSection {
  position: relative;
  display: flex;
  justify-content: center;
}

.mainSection {
  padding: 38px;
  position: relative;
  z-index: 1;
  background: #242424;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .mainSection {
    padding-right: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 3em;
    align-items: flex-end;
  }

  .pageSection {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  height: 100%;
  mix-blend-mode: normal;
  opacity: 0.2;
  filter: brightness(0.5);
}

.episodeListItem {
  transition: all ease .3s;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  margin-right: 24px;
  position: relative;
  display: grid;
  grid-template-columns: max-content;
}

.episodeListItemActive {
  transition: all ease .3s;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  margin-right: 24px;
  position: relative;
  display: grid;
  grid-template-columns: max-content;
}

.episodeLink {
  text-decoration: none;
  color: inherit;
}

.carousel {
  overflow: hidden;
  min-inline-size: 300px;
  max-inline-size: 40em;
}

.carouselWrapper {
  -ms-overflow-style: none;
}

.carouselWrapper::-webkit-scrollbar {
  display: none;
}

.carouselWrapper {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  block-size: calc(100% + 25px);
  margin-bottom: 20px;
}

.arrowsNavigation {
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px;
}

@media screen and (max-width: 1200px) {
  .arrowsNavigation {
    padding: 30px 0;
  }
}

.arrowsNavigation button:first-child {
  margin-right: 10px;
}

.arrowsNavigationButton {
  background: none;
  border: none;
  cursor: pointer;
}

.arrowsNavigationButton:disabled {
  opacity: .2;
}

.episodeDetails {
  background: var(--text);
  color: var(--background);
  width: 100%;
  min-width: 352px;
}

.episodeDetailsHeader {
  background: var(--text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px;
  border-bottom: 1px solid #e1e1e1;
}

.episodeDetailsHeaderTitle {
  font-size: var(--font-size-medium);
}

.episodeDetailsContent {
  padding: 38px;
  background: var(--text);
  color: var(--background);
}

.episodeDetailsContentTitle {
  font-family: 'HelveticaNeueBd';
  font-size: var(--font-size-large);
  color: var(--background);
  background: var(--text);
}

.episodeDetailsContentDescription {
  font-size: var(--font-size-medium);
  color: var(--background);
  background: var(--text);
  margin-bottom: 20px;
}

.rating {
  display: flex;
  align-items: center;
  font-size: var(--font-size-medium);
  color: var(--background);
}

.ratingStarIcon {
  margin-right: 6px;
}

.ratingClassification {
  font-family: 'HelveticaNeueBd';
}

.episodeDetailsPoster {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-inline-size: 100%;
  block-size: 100%;
  max-height: 536px;
}

@media screen and (max-width: 1200px) {
  .episodeDetailsPoster {
    display: none;
  }
}

.episodeDetailsContentList {
  list-style-type: disc;
  font-size: var(--font-size);
  color: var(--background);
  margin-bottom: 20px;
}

.episodeDetailsContentListTitle {
  font-size: var(--font-size-medium);
  color: var(--background); 
  font-family: 'HelveticaNeueBd';
}