.pageSection {
  position: relative;
}

.mainSection {
  padding: 20px;
  position: relative;
  z-index: 1;
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  height: 100%;
  mix-blend-mode: normal;
  opacity: 0.48;
}

.seasonNumber {
  font-size: var(--font-size-large);
  display: block;
}

.seriesName {
  font-family: 'HelveticaNeueBd';
  font-size: var(--font-size-extra-large);
  line-height: normal;
}

.seriesDescription {
  font-size: var(--font-size-large);
  margin-bottom: 90px;
}

.episodeListItem {
  max-width: 201px;
  margin-right: 28px;
  transition: all ease .3s;
}

.episodeListItemActive {
  max-width: 201px;
  margin-right: 48px;
  transition: all ease .3s;
}

.episodeLink {
  text-decoration: none;
  color: inherit;
}

.carousel {
  overflow: hidden;
  min-inline-size: 300px;
}

.carouselWrapper {
  -ms-overflow-style: none;
}

.carouselWrapper::-webkit-scrollbar {
  display: none;
}

.carouselWrapper {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  
  /* clip away the scrollbar */
  block-size: calc(100% + 25px);
  margin-bottom: 20px;
}

.arrowsNavigation {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.arrowsNavigation a:first-child {
  margin-right: 10px;
}

.episodeDetails {
  background: var(--text);
  color: var(--background)
}

.episodeDetailsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e1e1e1;
}

.episodeDetailsHeaderTitle {
  font-size: var(--font-size-medium);
}

.episodeDetailsContent {
  padding: 20px;
}

.episodeDetailsContentTitle {
  font-family: 'HelveticaNeueBd';
  font-size: var(--font-size-large);
  color: var(--background);
}

.episodeDetailsContentDescription {
  font-size: var(--font-size-medium);
  color: var(--background);
}

.rating {
  display: flex;
  align-items: center;
  font-size: var(--font-size-medium);
  color: var(--background);
}

.ratingStarIcon {
  margin-right: 6px;
}

.ratingClassification {
  font-family: 'HelveticaNeueBd';
}