.episodeWrapper {
  margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  min-height: 240px;
  max-width: 300px;
}

.episodeImage {
  object-fit: cover;
  max-inline-size: 100%;
  block-size: 100%;
  min-height: 375px;
  height: 100%;
  width: 100%;
  opacity: .4;
}

.episodeImageActive {
  opacity: 1;
  transition: all ease 1s;
  object-fit: cover;
  max-inline-size: 100%;
  block-size: 100%;
  min-height: 375px;
  height: 100%;
  width: 100%;
}

.episodeImageActive:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #eaee44, #33d0ff);
  opacity: .7;
  z-index: 1;
}

.episodeNumber {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);
  background: var(--text);
  font-size: var(--font-size-medium);
  font-family: 'HelveticaNeueBd';
  z-index: 1;
}

.episodeDetails {
  display: flex;
  flex-flow: column;
}

.episodeTitle {
  font-family: 'HelveticaNeueBd';
  font-size: var(--font-size-medium);
  margin-bottom: 12px;
}

.episodeDescription {
  font-size: var(--font-small);
  letter-spacing: .5px;
  opacity: 0.8;
  -webkit-line-clamp: 3;
  line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
